.board {
  border: 1px solid lightblue;
  margin: 30px;
  display: flex;
  justify-content: center;
  * {
    margin: 0 20px;
  }
  button {
    border: 1px solid red;
    transition: color .4s, background .6s;
  }
}
