.board {
  border: 1px solid lightblue;
  margin: 30px;
  display: flex;
  justify-content: center;
  * {
    margin: 0 20px;
  }

  button {
    transition: color .4s, background .6s;
    position: relative;
    left: 50px;
    border: 3px solid rgba(200,200,200,.4);
    background: lightgrey;
    &:hover {
      background: rgba(200,200,200,.4);
      border: 3px solid rgba(200,200,200,.4);
      color: white;
    }
  }
}
