.shop-page {
  border: 1px solid lightblue;
  color: lightblue;
  .shop-page-title {
    border: 2px solid blue;
    margin-bottom: 20px;
  }
  .board-categories {
    display: flex;
    justify-content: center;
    * {
      margin: 50px;
    }
  }
}
